:root {
  --primary-color: #6470fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

header {
  padding: 1rem 1rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
header nav {
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

nav img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #444;
  position: relative;
}

nav .nav-link:hover {
  color: var(--primary-color);
  transition: 0.3s color;
}

nav .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: var(--primary-color);
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.3s ease-in-out 0s;
}

nav .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: 100% 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  padding: 0.8rem 3rem;
}

.btn-primary:hover {
  background: var(--primary-color);
  color: white;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  display: none;
}

@media (max-width: 900px) {
  .menu-toggle {
    display: block;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .menu-toggle {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
  }

  nav ul {
    display: none;
    width: 100%;
    background: white;
    z-index: 11;
  }

  nav ul.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav ul li {
    padding: 2rem;
  }
}
