{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5 mb-5">
        {% if password %}
            <h3 style="word-wrap: break-word; text-align: center;">Your Generated Password: <span style="background-color: #efefef;"> {{ password }} </span></h3>
            <div style="text-align: center;"><small style="color:grey;">Not satisfied! Refresh this page to see another super strong password or go to previous page and select multiple password and be sure to include numbers and symbols.</small></div>
        {% elif multiple_password %}
            <h3 style="text-align: center">Your Generated Passwords:</h3>
            {% for password in multiple_password %}
                <p style="word-wrap: break-word">{{ forloop.counter }}) <span style="background-color: #efefef;">{{ password }}</span></p>
            {% endfor %}
            <div style="text-align: center;"><small style="color:grey;">Not satisfied! Refresh this page to see another super strong password.</small></div>
        {% endif %}
    </div>
{% endblock %}
